*{
	margin:0px;
	padding: 0px;
}
body{
	background-color:rgb(230, 230, 253);
	text-align: center;
}
.register-head{
	width:100%;
	height: 120px;
	background-image:url('../images/head.png');
	overflow: hidden;
}
.register-head-contain{
	width:1300px;
	margin:0 auto;
}
.register-head-contain p{
	color: rgb(243, 233, 255);
	text-align: left;
	margin: 60px 0px;
	font-weight: bold;
	font-size: 22px;
}
.register-main{
	width: 100%;
	margin: 0 auto;
	background-color: rgb(230, 230, 253);
	height: 600px;
}
.register-main-box{
	width: 100%;
	display: inline-block;
	float: left;
}
.register-box-header{
	width: 100%;
	height: 35px;
	background-color:rgb(55, 89, 147);
	border-bottom: solid thin rgb(100, 123, 180);
}
.register-box-header-contain{
	width:1349px;
	margin:0 auto;
	height:35px;
}
.register-box-header p{
	background-image: url("../images/bg.gif");
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	text-indent: 30px;
	font-size: 13px;
	color: rgb(243, 233, 255);
	font-weight: bold;
	line-height: 36px;
	background-position: 10px;
}
.register-information{
	width: 1349px;
	margin: 0 auto;
}
.register-information form{
	margin: 100px 0 0 500px;
	text-align: left;
}
.register-information p{
	margin-bottom: 20px;
	line-height: 20px;
	margin-bottom: 20px;
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
	color: rgb(51, 51, 116);
}
.register-information form p input{
	width: 245px;
	height: 25px;
	border-radius: 3px;
	border: solid thin rgb(149, 149, 243);
	background-color: rgb(230, 230, 255);
	margin-top:10px;
}
.register-information p span{
	margin-left:225px;
	font-weight:normal;
	font-size:13px;
}
#firstFileInform{
	position:absolute;
	top:32px;
	left:92px;
}
#secondFileInform{
	position:absolute;
	top:32px;
	left:92px;
}
.register-information .uploadFiles{
	position: relative;
	height:50px;
}
#firstfile{
	opacity:0;
	width:300px;
	width: 55px;
	left: 252px;
}
#secondfile{
	opacity:0;
	width:300px;
	width: 55px;
	left: 252px;
}
input,button{
	position: absolute;
}
.upload{
	top: 30px;
	left: 252px;
	width: 55px;
	height: 27px;
	background-color: rgb(166, 186, 246);
	border: solid thin rgb(108, 174, 235);
	border-radius: 5px;
	cursor:pointer;
}
.fake{
	width:170px;
	disabled:disabled;
}
#submit{
	background-color: rgb(166, 186, 246);
	border: solid thin rgb(108, 174, 235);
	width: 120px;
	height: 30px;
	margin-left: 100px;
	margin-top: 30px;
	cursor: pointer;
	border-radius:5px;
}
#studentNumber{
	width: 180px;
	margin-left:36px;
	margin-top:0px;
}
#name{
	width: 180px;
	margin-left:20px;
	margin-top:0px;
}
#GDUTPassword{
	width: 180px;
	margin-left:52px;
	margin-top:0px;
}
#password{
	width: 180px;
	margin-left:84px;
	margin-top:0px;
}
#nameInform {
	margin-left: 210px;
}
#gdutPassInform {
	margin-left: 243px;
}
#passInform {
	margin-left: 276px;
}